body {
text-align: center;
font-family: arial;
}

#container {
    align-items: center;
    border: double;
    border-color: rgb(45, 45, 102);
}

#cabecera {
    background-color: rgb(55, 55, 121);
    text-align: left;
}