body {
text-align: center;
font-family: cursive;
}

#container {
    align-items: center;
    border: double;
    border-color: blue;
}

#cabecera {
    background-color: blue;
    text-align: left;
}